.backgroundPink {background:#fffbf6;}
.textBody{
	color:black;
	font-family:Lucida Console;
	font-size:115%;
	margin-top: 50px;
	margin-bottom:50px;
	margin-left: 75px;
	margin-right: 525px;
	
}
.titleBlock{
	text-align: center;
	font-size: 300%;
	margin-top: 50px;
	margin-bottom:50px;
	margin-left: 50px;
	margin-right: 50px;
	
}
.linkStyle{
	font-family:Verdana;
	font-size:90%
	margin-top: 50px;
	margin-bottom:50px;
	margin-left: 75px;
	margin-right: 525px;
}