.backgroundPink {background:#fffbf6;}
.textBody{
	color:black;
	font-family:Lucida Console;
	font-size:115%;
	margin-top: 50px;
	margin-bottom:50px;
	margin-left: 75px;
	margin-right: 525px;
	
}
.titleBlock{
	font-size: 300%;
	margin-top: 50px;
	margin-bottom:50px;
	margin-left: 300px;
	margin-right: 525px;
	
}
.linkStyle{
	font-family:Verdana;
	font-size:90%
	margin-top: 25px;
	margin-bottom:50px;
	margin-left: 375px;
	margin-right: 525px;
}
.imgscene {
	width: 650px;
	height: 300px;
	border: 1px;
	}