

.backgroundPink {background:#fffbf6;}
.textBody{
	color:black;
	font-family:Lucida Console;
	font-size:115%;
	margin-top: 50px;
	margin-bottom:50px;
	margin-left: 75px;
	margin-right: 525px;
	
}
.titleBlock{
	font-size: 300%;
	margin-top: 50px;
	margin-bottom:50px;
	margin-left: 300px;
	margin-right: 525px;
	
}
.linkStyle{
	font-family:Verdana;
	font-size:90%;
	margin-top: 25px;
	margin-bottom:50px;
	margin-left: 375px;
	margin-right: 525px;
}
.imgscene {
	width: 650px;
	height: 300px;
	border: 1px;
	}
	
	
h1.retroshadow {
  color: #2c2c2c;
  letter-spacing: .05em;
  text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}



h2.deepshadow {
  color: #e0dfdc;
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

.otherHeader {
	color:black; 
	background-color:#22c3c3;
	font-size:260%; 
	font-family:Courier New;
	border-style: outset;
	text-align:center;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
	padding-top:1px;
}

.normalText {
	color:black;
	font-size:130%;
	font-family:Helvetica;
}



.captionText {
	color:black;
	font-size:120%;
	font-family:Courier New;
	text-align:center;
}


.column2 {
	border-style: outset;
	background-color: #f2f2f2;
}

.imageBorder {
	border-style: outset;
}

.navbar
{
	color: yellow;
	margin-bottom:0px;
	Background-color:#282727; 
	z-index: 9999;
	border:0;
	font-size: 12px;
	line-heright: 1.42857143;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Montserrat, sans-serif;
	color:White;
	
}


